@import "~bootstrap/dist/css/bootstrap.css";
@import "bootstrap";  

.body{
    margin: 20%;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

.logo-sky{
    width: 5vw;
    height: auto;
    display: block;
}

.cardCategories{
    width: 12vw;
    height: auto;
    border: 0 solid;
    border-radius: 3%;
}

.div-categoria{
    display: flex;
    flex-wrap: initial;
}

.menuCard{
    margin: 0.2%;
}

.icon-contrast{
    width: 2.5vw;
}

.icon-size{
    width: 2vw;
}

.icons-nav{
display: flex;
justify-content: space-around;
align-items: center;
}

.nav-menu{
   color:  rgba(0, 0, 0, 0.6);
}

.nav-item:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #f35c58;
 }



