.body{
    margin: 20%;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.logo-sky{
    width: 5vw;
    height: auto;
    display: block;
}

.cardCategories{
    width: 12vw;
    height: auto;
    border: 0 solid;
    border-radius: 3%;
}

.icons{
        /* width: 1.5vw; */
    height: 1.5vw;
    color: darkgrey;
}

.icons-nav{
display: flex;
justify-content: space-around;
align-items: center;
}

.img-logo{
    width: 82px;
    height: 30px;
    display: block;
}

.appImg{
   width: 30%;
   height: 30%;
 }

.img-ic{
    width: 5%;
    height: 5%;
}

.carousel-first{
    margin-bottom: 5%;
    margin-top: 5%;
}



